@import '../../../shared/styles/common';

.card {
  background: $grey-10;
  border: 1px solid $grey-20;
  border-radius: $border-radius-default;
  padding: $space-20;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-dafault;

  .name, .total {
    font-size: 16px;
    font-weight: 600;
  }

  .price {
    font-size: 14px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      color: $red-10;
    }
  }
}