@import './../shared/styles/common';

.cart-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  width: 380px;

  padding: $space-50 $space-20;
  box-shadow: $shadow;

  display: flex;
  flex-direction: column;
  gap: $space-dafault;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .far {
    font-size: 24px;
    cursor: pointer;
  }
}

.trigger-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.success-message {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $space-20;
  font-size: 24px;
  font-weight: 600;

  i {
    font-size: 80px;
    color: green;
  }
}