@import './../shared/styles/common';

$container-width: 1280px;

:host {
  display: flex;
  flex-direction: column;
  gap: $space-20;
  max-width: $container-width;
  margin: $space-40 auto 0;
  background: white;
  height: calc(100vh - $space-40);

  border-radius: $border-radius-small;
  padding: $space-dafault;

  overflow: auto;
}