$black: #12131A;

$grey-10: #f7f7f7;
$grey-20: #ebe7e7;
$grey-30: #3d3d3d;
$grey-40: #4c4c4c;
$grey-50: #555;

$red-10: #F64E0C;
$red-20: #f0a6a1;

$green-10: #a1d1a3;

$counter-border: #eeebeb;
$counter-main: #ECE7E7;
$counter-hover: #eeebeb;
