$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-dafault: 10px;
$space-20: 20px;
$space-40: 40px;
$space-50: 50px;

$border-radius-small: 8px;
$border-radius-default: 10px;
$border-radius-large: 20px;

$shadow: 2px 0 4px 0;