:host {
  display: flex;
  justify-content: center;
}

.button {
  flex-grow: 1;

  padding: 4px 12px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  background: #12131A;
  color: white;

  cursor: pointer;

  &:hover {
    background: #3d3d3d;
  }

  &:active {
    background: #4c4c4c;
  }
}
