@import '../../../shared/styles/common';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-20;
  margin: $space-20 0;

  .prices-contanier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:$space-4;

    .price {
      display: flex;
      justify-content: space-between;

      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: $space-dafault;

    .button {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      border: none;
      border-radius: $border-radius-default;
      padding: $space-8 $space-12;

      cursor: pointer;

      &:hover:not(:disabled) {
        opacity: 0.6;
      }

      &:active:not(:disabled) {
        opacity: 0.9;
      }

      &.order-button {
        background-color: $red-10;
        color: white;
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }
}