@import './../../../../shared/styles/common';

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  .value {
    justify-self: center;
    font-weight: 600;
  }

  .counter-button {
    width: 32px;
    aspect-ratio: 1;

    border: 1px solid $counter-border;
    border-radius: $border-radius-small;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    background: $counter-main;
    color: $black;

    &:hover {
      background: $counter-hover;
    }

    &:active {
      &:has(.fa-plus) {
        background: $green-10;
      }

      &:has(.fa-minus) {
        background: $red-20;
      }
    }
  }
}
