@import './../../../../../shared/styles/common';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-dafault;
}

.chip {
  background: $grey-20;
  color: $black;

  padding:$space-4 $space-12;
  border-radius: $border-radius-large;

  font-size: 14px;
  line-height: 1.5;

  text-transform: capitalize;
  cursor: pointer;

  &.active {
    background: $black;
    color: white;
  }
}